.about {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-image: url(../../images/bg.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

}

.about {
    opacity: 0;
    animation: ani 2.5s forwards;
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}