.header__link {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.header__link:hover {
    color: #A9A9A9;
    font-size: 23px;

}