.project__link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

.project__link:hover {
    color: #A9A9A9;
}