.header {
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 680px) {
    .header {
        justify-content: center;
    }
} 
